.LoginFormContainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

@media (max-width: 600px) {
  .LoginFormContainer {
    gap: 45px;
  }
}
